<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>SolidEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "layouts/solid_events/style" %>
  </head>
  <body>
    <header class="topbar">
      <div class="wrap">
        <h1>SolidEvents</h1>
        <nav>
          <%= link_to "Traces", traces_path %>
          <%= link_to "Errors", "/solid_errors" %>
        </nav>
      </div>
    </header>
    <main class="wrap">
      <%= yield %>
    </main>
  </body>
</html>
